<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Table</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td {
            border: 1px solid darkolivegreen;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<center>
<table>
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Email</td>
        <td>Salary</td>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.salary}"></td>
    </tr>
</table>
</center>
</body>
</html>